{% extends 'base.html' %} {% include 'header.html' %} {% block title %} Home {%
endblock %} {% block body %}

<div class="container">
  <div class="row">
    <div class="col md-12">
      <div class="jumbotron p-3">
        <h2>
          Manage <b>Courses</b>
          <button
            type="button"
            class="btn btn-success pull-right"
            data-toggle="modal"
            data-target="#mymodal"
          >
            Add New Courses
          </button>
        </h2>

        {% with messages = get_flashed_messages(with_categories=True) %} {% if
        messages %} {% for category, message in messages %}

        <div class="alert alert-{{category}} alert-dismissable" role="alert">
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="close"
          >
            <span aria-hidden="true">x</span>
          </button>
          {{message}}
        </div>

        {% endfor %} {% endif %} {% endwith %}

        <table class="table table-hover">
          <tr>
            <th>Course ID</th>
            <th>Title</th>
            <th>Instructor ID</th>
            <th>Credits</th>
            <th>Action</th>
          </tr>

          {% for row in course_data %}
          <tr>
            <td>{{row.course_id}}</td>
            <td>{{row.course_title}}</td>
            <td>{{row.instructor_id}}</td>
            <td>{{row.course_credits}}</td>
            <td>
              <a
                href="/update/course/{{row.course_id}}"
                class="btn btn-warning btn-xs"
                data-toggle="modal"
                data-target="#modaledit{{row.course_id}}"
                >Edit</a
              >

              <a
                href="/delete/course/{{row.course_id}}"
                class="btn btn-danger btn-xs"
                onclick="return confirm('Are you sure you want to delete?')"
                >Delete</a
              >
            </td>
          </tr>

          <div id="modaledit{{row.course_id}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Update Information</h4>
                </div>
                <div class="modal-body">
                  <form action="{{url_for('update_course')}}" method="POST">
                    <div class="form-group">
                      <label>Title:</label>
                      <input
                        type="hidden"
                        name="course_id"
                        value="{{row.course_id}}"
                      />
                      <input
                        type="text"
                        class="form-control"
                        name="course_title"
                        value="{{row.course_title}}"
                      />
                    </div>

                    <div class="form-group">
                      <label>Instructor ID:</label>
                      <input
                        type="text"
                        class="form-control"
                        name="instructor_id"
                        value="{{row.instructor_id}}"
                      />
                    </div>

                    <div class="form-group">
                      <label>Credits:</label>
                      <input
                        type="text"
                        class="form-control"
                        name="course_credits"
                        value="{{row.course_credits}}"
                      />
                    </div>

                    <div class="form-group">
                      <button class="btn btn-primary" type="submit">
                        Update
                      </button>
                    </div>
                  </form>
                </div>

                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </table>

        <div id="mymodal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Add Course</h4>
              </div>
              <div class="modal-body">
                <form action="{{url_for('insert_course')}}" method="POST">
                  <div class="form-group">
                    <label>Course ID:</label>
                    <input
                      type="text"
                      class="form-control"
                      name="course_id"
                      required="1"
                    />
                  </div>

                  <div class="form-group">
                    <label>Title:</label>
                    <input
                      type="text"
                      class="form-control"
                      name="course_title"
                      required="1"
                    />
                  </div>

                  <div class="form-group">
                    <label>Instructor ID:</label>
                    <input
                      type="text"
                      class="form-control"
                      name="instructor_id"
                      required="1"
                    />
                  </div>

                  <div class="form-group">
                    <label>Credits:</label>
                    <input
                      type="number"
                      class="form-control"
                      name="course_credits"
                      required="1"
                    />
                  </div>

                  <div class="form-group">
                    <button class="btn btn-primary" type="submit">
                      Add Course
                    </button>
                  </div>
                </form>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
