body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  width: 100%;      /* Use the full width */
  max-width: 100%;  /* Prevents the app from exceeding the width of the viewport */
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  padding: 20px;
}

.authentication-info {
  align-self: flex-end;
  position: absolute;
  top: 10px;
  right: 20px;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.bottom-row > div, .search-bar {
  flex: 1;
}

.bottom-row > button {
  flex: 0 0 auto;
  margin: 0 20px; /* Adjust spacing around the Add Recipe button */
}

.search-bar {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.main-content {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(4, calc((100% - 40px - 3 * 10px) / 4)); /* Adjusted for padding and gap */
  gap: 20px;
  padding: 20px;
  width: 100%;  /* Ensures the grid takes up the full width */
  box-sizing: border-box; /* Includes padding in the width calculation */
}

.recipe-card {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  transition: transform 0.2s;
}

.recipe-card:hover {
  transform: scale(1.05);
}

.recipe-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.recipe-card p {
  margin-top: 10px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;  /* Control width here */
  width: 90%;  /* Ensures modal is responsive but does not exceed 90% of viewport width */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: auto;  /* Lets the modal grow as needed, up to max-height */
  max-height: 60vh;  /* Maximum height before scrolling, 80% of the viewport height */
  overflow-y: auto;  /* Enables scrolling for the vertical overflow */
  position: relative;  /* Ensures the modal is positioned relative to its container */
}

.modal-content > div{
  align-self: center;
}


.search-results {
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
  position: absolute;
  width: calc(100% - 2px);
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 1001;
}

.search-results li {
  padding: 8px 12px;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #f4f4f4;
}

.add-recipe-form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.add-recipe-form input, .add-recipe-form textarea {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  box-sizing: border-box;
}

.add-recipe-form button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

.add-recipe-form button:hover {
  background-color: #0056b3;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 2.5px;
}

button:hover {
  background-color: #0056b3;
}
